body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#displayEditor{
  font-family: Arial, Helvetica, sans-serif, monospace;
  font-size: 20px;
  white-space: pre;
  position: absolute;
  left: 2px;
  top: 2px;
  color: white;
  pointer-events: none;
  user-select: none;
}

#activeEditor{
  border-style: hidden;
  font-family: Arial, Helvetica, sans-serif, monospace;
  font-size: 20px;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: #1b1b1b;
  color: #1b1b1b;
  opacity: 1;
  caret-color: aliceblue;
}

#activeEditor::selection{
  color: #3282cc;
  background-color: #3282cc;
}

.SKEYWORD{
  color: darkorchid;
}

.KEYWORD{
  color: #3282cc;
}

.BASE{
  color: #00509b;
}

.VAR{
  color: #c7e4ff;
}

.VALUE{
  color: #ff9a28;
}

.FUNCTION{
  color: #ffd000;
}

.CLASS{
  color: #00960c;
}

.COMMENT{
  color: #006408;
  font-style: italic;
}